<article class="row mission-statement">
    <section class="col-md-6">
        <div class="mission-statement__left">
            <div class="statement">
                <div class="statement__icon">
                    <img src="assets/marketing-bbb_logo_small.png" alt="">
                </div>
                <div class="statement__content">
                    <h4>shop with confidence</h4>
                    <ul>
                        <li>
                            <a href="//www.affordabletours.com/Info/LowestPrice/"><i class="fa fa-check" aria-hidden="true"></i> Low Price Guarantee </a>
                        </li>
                        <li>
                            <a href="//www.affordabletours.com/Info/WhyBuyFromUs/"><i class="fa fa-check" aria-hidden="true"></i> Top Reasons to Book</a>
                        </li>
                        <li>
                            <a href="//www.affordabletours.com/Info/AboutUs/awards.php"><i class="fa fa-check" aria-hidden="true"></i> Awards Received </a>
                        </li>
                    </ul>
                    <a href="//www.affordabletours.com/Info/WhyBuyFromUs/" class="statement__content--more" >Read More</a>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="statement">
                <div class="statement__icon">
                    <img src="assets/marketing-bbb_logo_small.png" alt="">
                </div>
                <div class="statement__content">
                    <h4>better business bureau</h4>
                    <div>
                        AffordableTours.com is a proud recipient of the <a class="blue" href="//www.affordabletours.com/Info/AboutUs/awards.php">Better Business Bureau</a> (BBB) awards 2006-2015.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="col-md-6">
        <div class="mission-statement__right">
            <div class="statement">
                <div class="statement__icon">
                    <img src="assets/marketing-bbb_logo_small.png" alt="">
                </div>
                <div class="statement__content">
                    <h4>It pays to refer! earn up to $200!</h4>
                    <div>
                        It's simple: You refer your friends, family, and anyone to us and when they book you will receive an American Express gift card worth up to $200 in the mail for simply referring.
                    </div>         
                    <a href="//www.affordabletours.com/Info/WhyBuyFromUs/" class="statement__content--more" >Read More</a>        
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="statement">
                <div class="statement__icon">
                    <img src="assets/marketing-bbb_logo_small.png" alt="">
                </div>
                <div class="statement__content">
                    <h4>get discounts by email!</h4>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-Mail">
                        <span class="input-group-btn">
                            <button class="btn" type="button">Sign Up</button>
                        </span>
                    </div>                   
                </div>
            </div>
        </div>
    </section>
</article>
