@import '../../../styles/variables.scss';

$padding-vertical: 15px;
$padding-horizontal: 25px;

.mission-statement {
    padding: $padding-vertical;
    section > div {
        min-height: 271px;
    }
}

.common-props {
    margin-bottom: $padding-vertical;
    padding: $padding-vertical $padding-horizontal;
    border: 1px solid rgba(55,55,55,0.15);
}

.mission-statement {
    &__left {
        @extend .common-props;
        background: rgba(0,124,198,0.15);        
    }
    &__right {
        @extend .common-props;
        background: rgba(233,174,36,0.15);        
    }
}

.statement {
    //min-height: 125px;
    //margin-bottom: $padding-horizontal;
    display: flex;
    margin-bottom: 12px;
    &__icon, &__content {
        float: left;
    }

    &__icon {
        margin-right: 20px;
        padding-top: 4px;
    }

    h4 {
        text-transform: uppercase;
        color: $blue;
    }

    &__content {
        width: 81%;
        ul {
            padding: 0;
            margin-bottom: 4px;
            li {
                list-style: none;
                color: $blue;
                font-size: 13.5px;
                a {
                    color: inherit;
                }
            }
        }
        & > div {
            margin-bottom: 4px;
        }
        &--more {
            color: $orange;
            font-size: 16px;
        }
        input {
            border-radius: 0;
        }
        .btn {
            background-color: $orange;
            color: #fff;
            text-transform: uppercase;
        }
    }
}

img {
    height: 65px;
}

.fi-price-tag {
    font-size: 2.5rem;
    color: #FFFFFF;
    vertical-align: text-top;    
    &::before{
        content: "\f19d";        
    }
}
