<article class="row mission-statement">
    <section class="col-md-6">
        <div class="mission-statement__left">
            <div class="row statement">
                <div class="col-sm-3">
                    <img src="assets/marketing-bbb_logo_small.png" alt="">
                </div>
                <div class="col-sm-9">
                    <div class="title">shop with confidence</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row statement">
                <div class="col-sm-3">
                    <img src="assets/marketing-bbb_logo_small.png" alt="">
                </div>
                <div class="col-sm-9">
                    <div class="title">better business bureau</div>
                </div>
            </div>            
        </div>
    </section>
    <section class="col-md-6">
        <div class="mission-statement__right">
            <div class="row statement">
                <div class="col-sm-3">
                    <img src="assets/marketing-bbb_logo_small.png" alt="">
                </div>
                <div class="col-sm-9">
                    <div class="title">It pays to refer! earn up to $200!</div>
                </div>
            </div>       

            <div class="row statement">
                <div class="col-sm-3">
                    <img src="assets/marketing-bbb_logo_small.png" alt="">
                </div>
                <div class="col-sm-9">
                    <div class="title">get discounts by email!</div>
                </div>
            </div>              
        </div>        
    </section>
</article>
