<nav>
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Tours</a></li>
            <li role="presentation"><a href="#">Cruises</a></li>
            <li role="presentation"><a href="#">River Cruisers</a></li>
            <li role="presentation"><a href="#">Resorts</a></li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <ul>
                <li><a href="tel:1-800-627-3753">1-800-627-3753</a></li>
                <li><a href="tel:1-281-296-2600">Direct 1-281-296-2600</a></li>
            </ul>
        </div>
    </div>
</nav>
