<section class="site-map__wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3> Tours </h3>
                <ul>
                    <li><a href="//www.affordabletours.com/search/Operator/?src=foot_c">Tour Operators</a></li>
                    <li><a href="//www.affordabletours.com/search/Type/?src=foot_c">Tour Styles</a></li>
                    <li><a href="//www.affordabletours.com/search/Category/?src=foot_c">Tour Categories</a></li>
                    <li><a href="//www.affordabletours.com/IndependentTravel/home.php?src=foot_c">Independent Tours</a></li>
                    <li><a href="//www.affordabletours.com/DealTracker/?src=foot_c">Deal Tracker</a></li>
                </ul>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3> Cruises </h3>
                <ul>
                    <li><a href="//cruises.affordabletours.com/search/Discounts_Cruise_Lines/?src=foot_c">Cruise Lines</a></li>
                    <li><a href="//cruises.affordabletours.com/search/Cruisetours/?src=foot_c">Cruisetours</a></li>
                    <li><a href="//cruises.affordabletours.com/Luxury_Cruises/?src=foot_c">Luxury Cruises</a></li>
                    <li><a href="//cruises.affordabletours.com/campaign/best-2017-cruise-deals/?src=foot_c">2017 Cruises</a></li>
                    <li><a href="//cruises.affordabletours.com/Last_Minute_Deals/?src=foot_c">Last Minute Deals</a></li>
                    <li><a href="//cruises.affordabletours.com/exclusive-cruise-deals/?src=foot_c">Exclusive Prices</a></li>
                </ul>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3> River cruises </h3>
                <ul>
                    <li><a href="//rivers.affordabletours.com/search/Operator/?src=foot_c">River Cruise Lines</a></li>
                    <li><a href="//rivers.affordabletours.com/WhyRiverCruise/?src=foot_c">Why River Cruise</a></li>
                    <li><a href="//rivers.affordabletours.com/search/Rivers/?src=foot_c">Rivers</a></li>
                    <li><a href="//rivers.affordabletours.com/search/Destinations/?src=foot_c">Countries</a></li>
                    <li><a href="//rivers.affordabletours.com/DealTracker/?src=foot_c">Deal Tracker</a></li>
                </ul>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3> Resorts </h3>
                <ul>
                    <li><a href="//resorts.affordabletours.com/search/Destination/?src=foot_c">Destinations</a></li>
                    <li><a href="//resorts.affordabletours.com/Brands/?src=foot_c">Resort Chains</a></li>
                    <li><a href="//resorts.affordabletours.com/Why_All_Inclusive/?src=foot_c">All Inclusive Resorts</a></li>
                    <li><a href="//resorts.affordabletours.com/DealTracker/?src=foot_c">Deal Tracker</a></li>
                </ul>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                <h3> About us </h3>
                <ul>
                    <li><a href="//www.affordabletours.com/reviews?src=foot_c">Affordable Tours Reviews</a></li>
                    <li><a href="//www.affordabletours.com/Terms/privacypolicy/?src=foot_c">Privacy Policy</a></li>
                    <li><a href="//www.affordabletours.com/Terms/?src=foot_c">Terms</a></li>
                    <li><a href="//www.affordabletours.com/careers">Careers</a></li>
                    <li><a href="/Info/?src=foot_c">Contact Us</a></li>
                    <li><a href="http://blog.affordabletours.com/?src=foot_c">Travel Blog</a></li>
                    <li><a href="//www.affordabletours.com/help/rivershelp/?src=foot_c">FAQ</a></li>
                    <li><a href="//www.affordabletours.com/Info/AboutUs/awards.php?src=foot_c">Awards</a></li>
                    <li><a href="/Info/LowestPrice/?src=foot_c">Low Price Guarantee</a></li>
                    <li><a href="http://www.bbb.org/houston/business-reviews/travel-agencies-and-bureaus/affordabletours-com-in-stafford-tx-33000070/"
                            target="_blank">BBB Member</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
