@import '../../../../styles/variables.scss';

.shopping-cart {
    float: left;
    &.link {
        margin-left: 10%;
    }
    &.on-page {
        position: absolute;
        right: 26px;
        top: 16px;
        a {
            padding: 9px 12px;
            border: 1px solid #d8d8d8;
        }
    }
    a {
        color: $primary;
        line-height: 50px;
        font-size: 15.5px;
        cursor: pointer;
        &:hover {
            color: $blue;
        }                  
    }

    header {
        img {
            width: 193px;
        }        
    }
    &__header {
        h3 {
            border-bottom: 1px solid #E1E8EE;
            padding: 20px 30px;
            color: #5E6977;
            font-size: 18px;
            font-weight: 400;            
        }
    }
    &__body {
        ul {
            display: grid;
            min-height: 119px;
            li {
                label {
                    margin-right: 5px;
                }
                section {
                    float: left;
                    &:first-of-type {
                        width: 30%;
                        img {
                            width: 100%;
                        }
                    }
                    &:nth-of-type(2) {
                        width: 70%;
                        padding: 0 10px;
                        font-size: 11px;
                        h4 {
                            margin-top: 0;
                            span {
                                float: right;
                                color: $deep-blue;
                            }
                        }
                    }
                }
            }
        }
    }
    
    footer {
        button {
            float: right;
            border-radius: 0;
            background-color: $orange;
            color: #fff;
        }
    }    
}