<section class="footer__wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footer__logo">
                <a href="//cruises.affordabletours.com/" class="navbar-brand">
                    <img src="assets/atoursLogo.png" alt="AffordableTours.com">
                </a>
                <small>&copy; 2017 AffordableTours.com All Rights Reserved</small>
            </div>
            <div class="col-md-4 col-sm-6 footer__hours">
                <ul>
                    <li>mon-fri 8am-11pm et | 1-800-627-3753</li>
                    <li>sat-sun 9am-8pm et | 1-281-269-2600</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 footer__social">
                <ul>
                    <li><a class="btn btn-facebook" href="//www.facebook.com/AffordableTours/" target="_blank"><span class="fa fa-facebook"></span></a></li>
                    <li><a class="btn btn-youtube" href="//www.youtube.com/user/AffordableToursTV" target="_blank"><span class="fa fa-youtube"></span></a></li>
                    <li><a class="btn btn-twitter" href="//twitter.com/AffordableTours/" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    <li><a class="btn btn-google" href="//plus.google.com/+Affordabletoursofficial"><span class="fa fa-google-plus" target="_blank"></span></a></li>
                    <li><a class="btn btn-linkedin" href="//www.linkedin.com/company/affordabletours-com"><span class="fa fa-linkedin" target="_blank"></span></a></li>
                    <li><a class="btn btn-pinterest" href="//www.pinterest.com/affordabletours/"><span class="fa fa-pinterest" target="_blank"></span></a></li>
                    <li><a class="btn btn-tumblr" href="//affordabletoursofficial.tumblr.com/"><span class="fa fa-tumblr" target="_blank"></span></a></li>
                    <li>
                        <a class="btn btn-atours" href="//blog.affordabletours.com/" target="_blank">
                            <img src="//img.affordabletours.com/img/v4/blog-icon.svg" alt="blog-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
