/* You can add global styles to this file, and also import other style files */

@import 'variables';
body {
    color: $primary;
    line-height: 1.5;
    a:hover {
        text-decoration: none;
    }
    .marketing {
        background-color: $ligth-gray;
        padding: 15px;
        &__call-us {
            font-size: 17px;
            font-weight: 700;
            span {
                font-size: 21px;
            }
        }
    }
}
