@import '../../../styles/variables.scss';
.navbar {
    background-color: #fff;
    &-nav {
        li {
            a {
                color: $primary;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
    .navbar-brand {
        padding: 7px 4px 4px 4px;
        margin: 0;
        max-width: 100%;
    }
    &-fixed-top {
        //background-color: #ccc;
        margin: 0;
        &.scroll {
            @extend .shadow;
            img {
                max-width: 85%;           
            }
            .contact-message {
                float: left;
                line-height: 50px;
                margin-left: 10%;
                font-size: 17px;
                span {
                    font-size: 120%;
                    font-weight: bold;                    
                }
            }
            .shopping-cart {
                float: left;
                margin-left: 10%;
                a {
                    color: $primary;
                    line-height: 50px;
                    font-size: 15.5px;
                    cursor: pointer;
                    &:hover {
                        color: $blue;
                    }                  
                }
            }
            .links {
                a {
                    color: $blue;
                    line-height: 50px;
                    font-size: 15.5px;
                    vertical-align: sub;
                }
            }            
        }
    }
}


/******************************************/
.shopping-cart {
    header {
        img {
            width: 193px;
        }        
    }
    &__header {
        h3 {
            border-bottom: 1px solid #E1E8EE;
            padding: 20px 30px;
            color: #5E6977;
            font-size: 18px;
            font-weight: 400;            
        }
    }
    &__body {
        ul {
            display: grid;
            min-height: 119px;
            li {
                label {
                    margin-right: 5px;
                }
                section {
                    float: left;
                    &:first-of-type {
                        width: 30%;
                        img {
                            width: 100%;
                        }
                    }
                    &:nth-of-type(2) {
                        width: 70%;
                        padding: 0 10px;
                        font-size: 11px;
                        h4 {
                            margin-top: 0;
                            span {
                                float: right;
                                color: $deep-blue;
                            }
                        }
                    }
                }
            }
        }
    }
    
    footer {
        button {
            float: right;
            border-radius: 0;
            background-color: $orange;
            color: #fff;
        }
    }
}

@media screen and (max-width: 990px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 853px) {
    .navbar-collapse {
        display: none !important;
    }
}
