@import '../../../styles/variables.scss';
.navbar {
    background-color: #fff;
    &-nav {
        li {
            a {
                color: $primary;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
    .navbar-brand {
        padding: 7px 4px 4px 4px;
        margin: 0;
        max-width: 100%;
    }
    &-fixed-top {
        //background-color: #ccc;
        margin: 0;
        &.scroll {
            @extend .shadow;
            img {
                max-width: 85%;           
            }
            .contact-message {
                float: left;
                line-height: 50px;
                margin-left: 10%;
                font-size: 17px;
                span {
                    font-size: 120%;
                    font-weight: bold;                    
                }
            }
            .links {
                a {
                    color: $blue;
                    line-height: 50px;
                    font-size: 15.5px;
                    vertical-align: sub;
                }
            }            
        }
    }
}

@media screen and (max-width: 990px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 853px) {
    .navbar-collapse {
        display: none !important;
    }
}
