<div class="nav top-nav fixedtop">
    <div class="row">
        <div class="medium-4 large-4 columns" id="atlogo">
            <a class="logo" href="/?src=header_logo"><img src="//img.affordabletours.com/img/newlayout/logo.png" alt="AffordableTours.com"></a>
        </div>

        <div class="small-8 medium-8 large-8 columns hide-for-small">
            <div class="stickyphone">Call Us For a Free Quote <span class="number phonedata">1-800-627-3753</span></div>
            <span class="stickyhelp"><a href="#" data-reveal-id="callMeModal">Call Me</a> | <a href="/help/cruiseshelp/?src=stickyheader" target="_blank">Help</a></span>
            <ul class="global-nav">
                <li><a href="/?src=header_nav">Home</a></li>
                <li><a href="#" data-dropdown="hover1" data-options="is_hover:false; hover_timeout:100" aria-expanded="false">About<i class="fa fa-sort-desc"></i></a>
                    <ul id="hover1" class="f-dropdown" data-dropdown-content="">
                        <li><a href="/Info/?src=header_about">Contact Us</a></li>
                        <li><a href="//www.affordabletours.com/Info/AboutUs/?src=header_about">Learn More About Us</a></li>
                        <li><a href="//www.affordabletours.com/Info/WhyBuyFromUs/?src=header_about">Why Buy From Us</a></li>
                        <li><a href="/Info/LowestPrice/?src=header_about">Low Price Guarantee</a></li>
                        <li><a href="//www.affordabletours.com/Info/AboutUs/awards.php?src=header_about">Awards</a></li>
                        <li><a href="//www.affordabletours.com/reviews/?src=header_about">Affordable Tours Reviews</a></li>
                        <li><a href="//www.affordabletours.com/Brochure/?src=header_about">Request Brochure</a></li>
                        <li><a href="//www.affordabletours.com/Terms/?src=header_about">Terms and Conditions</a></li>
                    </ul>
                </li>
                <li class="hide-for-portrait"><a href="http://blog.affordabletours.com/?src=header_about">Blog</a></li>
                <li><a href="#" data-dropdown="hoverbyc" data-options="is_hover:false;" aria-expanded="false">Cruise Info <i class="fa fa-sort-desc "></i></a>
                    <ul id="hoverbyc" class="f-dropdown" data-dropdown-content="">
                        <li><a href="/search/AgeRequirements/">Age Requirements</a></li>
                        <li><a href="/search/CruiseDining/">Cruise Dining</a></li>
                        <li><a href="/search/FuelSurcharges/">Fuel Surcharges</a></li>
                        <li><a href="/search/PaymentsRefunds/">Payments &amp; Refunds</a></li>
                        <li><a href="/search/SmokingPolicy/">Smoking Policy</a></li>
                        <li><a href="/search/CruiseTipping/">Tipping</a></li>
                        <li><a href="/search/Insurance/">Travel Protection</a></li>
                    </ul>
                </li>
                <li><a href="https://my.affordabletours.com/?src=header_nav">Login</a></li>
                <li><a href="/Info/LowestPrice/?src=header_nav">Low Price Guarantee</a></li>
            </ul>
        </div>
    </div>
    <div class="mobile-phone-number">
        <a href="tel:1-800-627-3753" class="phonedata">1-800-627-3753</a>
    </div>
</div>
